@model IEnumerable<BeFit.Models.ExerciseType>

@{
    ViewData["Title"] = "Title";
}

<h1>Ćwiczenia</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Dodaj nowe ćwiczenie</a>
    }
</p>
<table class="table text-center align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Zobacz opis</a>
                    @if (User.IsInRole("Admin"))
                    {
                        @: |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> @:| 
                        <a asp-action = "Delete" asp-route-id = "@item.Id"> Usuń</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
