@model BeFit.Models.Exercise

@{
    ViewData["Title"] = "Delete";
}

@if (ViewBag.SessionDate != null)
{
    <h1 class="text-danger mt-3">Usuwanie ćwiczenia z sesji: @ViewBag.SessionDate</h1>
}
else
{
    <h1>Delete</h1>
    <h4>Exercise</h4>
}

<h4 class="mt-4">Czy na pewno chcesz usunąć to ćwiczenie?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ExerciseType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ExerciseType.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NumOfSeries)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NumOfSeries)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NumOfReps)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NumOfReps)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        
        <input type="submit" value="Usuń ćwiczenie" class="btn btn-danger" />
        
        @if (ViewBag.CurrentSessionId != null)
        {
            <a asp-action="Index" asp-route-sessionId="@ViewBag.CurrentSessionId" class="btn btn-secondary">Wróć do listy</a>
        }
        else
        {
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        }
    </form>
</div>