@model IEnumerable<BeFit.Models.Exercise>

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.CurrentSessionStart != null)
{
    <h1>Informacje o sesji</h1>
    <h4>@ViewBag.CurrentSessionStart</h4>
}
else
{
    <h1>Ćwiczenia w sesji:</h1>
}


<br>
<table class="table text-center align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfSeries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfReps)
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfSeries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfReps)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    @if (ViewBag.CurrentSessionId != null)
    {
        <a asp-action="Create" asp-route-sessionId="@ViewBag.CurrentSessionId" class="btn btn-primary">Dodaj ćwiczenie do tej sesji</a>
    }
    else
    {
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    }
</p>
